@model Edrive.Models._UserRegisteration
@{
    ViewBag.Title = "Register";
}
@section Head
{
    <link href="@Url.Content("~/Content/contentstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">

    	function checkFormValid() {
    		if ($.trim($("#CreditCardNumber").val()) == "") {
    			alert("CreditCardNumber is required");
    			return false;
    		}
    		if ($.trim($("#CVV").val()) == "") {
    			alert("CVV is required");
    			return false;
    		}

    		return true;
    	}

    </script>
}
<div class="product-inner-page">
    <div class="divdetail-inner">
        <div class="clear">
        </div>
    </div>
    <div class="tab-new">
        <div class="teb-left">
        </div>
        <div class="tab-line">
            <div class="tab-tital">
                Create New Account</div>
        </div>
        <div class="tab-right">
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear1">
    </div>
    <div class="divbottom-home">
        <div class="divbottomleft-new-top">
        </div>
        <div class="divbottommiddetail-new-line-top-inner">
        </div>
        <div class="divbottomright-new-top">
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="divinnercontent-home-new-one">
        <div class="divinnercontent">
            <div class="diviconwar">
            </div>
            <div class="overviewdetaillogowar">
                <div class="htmlcontent">
                    <div class="htmlcontent-body">
                        <div id="CreateSteps">
                            <ul>
                                <li><a class="active" onclick="showStep('step1')" href="#">1. Create Account</a></li>
                                <li><a href="#">2. Payment Info</a></li>
                                <li><a href="#">3. Research the best deals!</a></li>
                            </ul>
                        </div>
                        <div style="color: Red; text-align: center">
                            @(ViewData["Msg"] ?? "")
                        </div>
                        <script type="text/javascript">
                        	function showStep(stepNum) {
                        		$("#step1").hide();
                        		$("#step2").hide();
                        		$("#step3").hide();
                        		$("#" + stepNum).show();

                        		$("#CreateSteps li a").removeAttr("class");
                        		$("#CreateSteps li:nth-child(1) a").attr("class", "active");
                        	}
                        </script>
                        @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { id = "form1" }))
                        { 
                            <div id="step1" class="regsteps" style="display: block;">
                                <div class="Required">
                                    All fields are required.</div>
								<div id="CreateForm">
									<div class="Col_1">
										<div class="rows">
											<label>
												First Name</label>
											@Html.TextBoxFor(m => m.Firstname, new { @class = "inpfld" })
											@*<input name="" type="text" class="inpfld" />*@
											<div class="Clr">
											</div>
										</div>
										<div class="rows">
											<label>
												Last Name</label>
											@Html.TextBoxFor(m => m.Lastname, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
										<div class="rows">
											<label>
												Email Address</label>
											@Html.TextBoxFor(m => m.Email, new { @class = "inpfld", onchange = "UpdateUserName();" })
											@Html.ValidationMessageFor(m => m.Email)
											<script type="text/javascript">
												function UpdateUserName() {
													$("#Username").val($("#Email").val());

												}
											</script>
											@*	<input name="" type="text" class="inpfld" />*@
											<div class="Clr">
											</div>
										</div>
										<div class="rows">
											<label>
												Re-type Email</label>
											@Html.TextBoxFor(m => m.ConfimrEmail, new { @class = "inpfld" })
											@Html.ValidationMessageFor(m => m.ConfimrEmail)
											<div class="Clr">
											</div>
										</div>
									</div>
									<div class="Col_2">
										<div class="rows">
											<label>
												Address</label>
											@Html.TextBoxFor(m => m.Address, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
										<div class="rows">
											<label>
												City</label>
											@Html.TextBoxFor(m => m.City, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
										<div class="rows">
											<label>
												State</label>
											@Html.TextBoxFor(m => m.State, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
										<div class="rows">
											<label>
												Zip</label>
											@Html.TextBoxFor(m => m.Zip, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
									</div>
                                    <div class="Col_3">
                                        <div class="rows">
											<label>
												Country</label>
											@Html.TextBoxFor(m => m.Country, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
                                    </div>
									<div class="Clr">
									</div>
									<div class="Col_1" style="padding-top: 50px;">
										<div class="rows">
											<label>
												Choose Password</label>
											@Html.PasswordFor(m => m.Password, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
									</div>
									<div class="Col_2" style="padding-top: 50px;">
										<div class="rows">
											<label>
												Confirm Password</label>
											@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inpfld" })
											<div class="Clr">
											</div>
										</div>
									</div>
									<div class="Col_3" style="padding-top: 26px;">
										<div class="Continue">
											<input type="image" onclick="return changeStep();return false;" src="@Url.Content("~/Content/images/continue_btn.jpg")" />
											@*<a href="#">
                        <img src="@Url.Content("~/Content/images/continue_btn.jpg")" alt="" /></a>*@
										</div>
										<p>
											Already have an account? <a href="/Account/Logon">Sign in</a></p>
									</div>
								</div>
                            </div>
                            <div id="step2" style="display: none">
                                <div>
                                    <div class="paymentContent" style="">
                                        Choose Your Payment</div>
                                    <div class="PaymentDiv" style="">
										<div>
											<div class="leftPay" style="">
												<img src="/Content/images/leftPay.png" style="margin-left: 5px;" height="40" />
												<div class="content">
													<label style="">
														<input type="radio" value="CreditCard" checked="checked" name="PaymentType" style="margin-right: 5px;" />
														<img src="/Content/images/creditCardLogos.png" style="position: relative; top: 15px;" alt="Credit Card" />
													</label>
												</div>
											</div>
											<div class="centerPay" style="">
												&nbsp;
												<!--  <img src="images/centrePay.png" />-->
											</div>
											<div class="rightPay" style="">
												<img src="/Content/images/rightPay.png" />
												<div class="content">
													<label style="margin: 25px;">
														<input type="radio" value="PayPal" name="PaymentType" />
														<img src="/Content/images/PayPal.png" style="position: relative; top: 15px;" alt="PayPal" />
													</label>

													<label style="display:none;">
														<input type="radio" value="PreDefinedForm" name="PaymentType" style="margin-right: 0px;" />
                                                        
														<div class="radioText" style="">Get a Full acces account for FREE simply by completing our
															financing pre-qualification.  
														</div>
                                                        
													</label>
                                                    
													<br />
												</div>
											</div>
										</div>
										
										<p class="note">
											You will be charged $9.95 (one time only) for Full Access to E-Drive's 100,928 pre-auction vehicles for a period of 10 days. 
											There are no automatic renewals or further obligation after your account expires and no additional charges will be made to your account 
											without your approval. If you would like to extend your account, simply re-register after the account expires. 
											We do not save your information. 
										</p>
									</div>
                                    <div class="PaySubmit">
										<input type="image" onclick="return ProcessCreditCard();" src="/Content/images/continue_btn.jpg" />
										<div style="clear:both;">@Html.ActionLink("View Our Privacy Policy", "Index", "privacyinfo")</div>
                                        <script type="text/javascript">
                                        	function changeStep() {

                                        		$("#form1").validate();
                                        		//  alert($("#form1").valid());
                                        		if ($("#form1").valid()) {
                                        			$("#step2").show();
                                        			$("#step1").hide();
                                        			$("#CreateSteps li a").removeAttr("class");
                                        			$("#CreateSteps li:nth-child(2) a").attr("class", "active");
                                        			return false;

                                        		}
                                        		return false;
                                        	}

                                        	function ProcessCreditCard() {


                                        		if ($("input[type='radio'][name='PaymentType']:checked").val() == "CreditCard") {
                                        			$("#step2").hide();
                                        			$("#step1").hide();
                                        			$("#step3").show();
                                        			return false;
                                        		}
                                        		if ($("input[type='radio'][name='PaymentType']:checked").val() == " PreDefinedForm") {
                                        			return false;
                                        		}


                                        	}

                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div id="step3" style="display: none">
                                <div style="text-align: center; font-size: 16px;">
                                    <b>Enter your Card Details</b>
                                </div>
                                <div>
                                    <table id="PaymentCreditCard" align="center">
                                        <tr>
                                            <td class="firstCol">
                                                Card number
                                            </td>
                                            <td class="secondCol">
                                                @Html.TextBoxFor(m => m.CreditCardNumber, new { style = "width:177px;", maxlength = "16" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="firstCol">
                                                Expiry Date
                                            </td>
                                            <td class="secondCol">
                                                Month
                                                <select id="ExpMonth" name="ExpMonth" style="width: 61px">
                                                    @*  <option value="mm">mm</option>*@
                                                    @for (int i = 1; i < 13; i++)
                                                    {
                                                        String val = (i < 10 ? "0" + i.ToString() : i.ToString());
                                                        if (i == DateTime.Now.Month)
                                                        { 
                                                        <option value="@val" selected="selected">@val</option>
                
                                                        }
                                                        else
                                                        {<option value="@val">@val</option>
                                                        }

                                                    }
                                                </select>
                                                Year
                                                <select id="ExpYear" name="ExpYear" style="width: 61px">
                                                    @*<option value="yyyy">yyyy</option>*@
                                                    @for (int i = DateTime.Now.Year; i < DateTime.Now.Year + 20; i++)
                                                    {
                                                        String val = i.ToString().Substring(2);
                                                        <option value="@val">@i.ToString()</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="firstCol">
                                                CVV Code
                                            </td>
                                            <td class="secondCol">
                                                @Html.PasswordFor(m => m.CVV, new { style = "width:50px;", maxlength = "4" })
                                                @Html.ValidationMessageFor(m => m.CVV, "must be number")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="image" src="/Content/Images/calcelbtn.png" onclick="window.location='/Home';return false;"
                                                    class="cancel" />
                                            </td>
                                            <td>
                                                <input type="image" value="Submit" src="/Content/Images/submitBtn.png" onclick="return checkFormValid();$('#form1').submit();" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            @Html.ValidationSummary(true)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="divbottom-home">
        <div class="divbottomleft-new">
        </div>
        <div class="divbottommiddetail-new-line-inner">
        </div>
        <div class="divbottomright-new">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
