@model Edrive.Models._UserRegisteration
@{
    ViewBag.Title = "Register";
}
@section Head
{
    <link href="@Url.Content("~/Content/contentstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
}
<div class="product-inner-page">
    <div class="divdetail-inner">
        <div class="clear">
        </div>
    </div>
    <div class="tab-new">
        <div class="teb-left">
        </div>
        <div class="tab-line">
            <div class="tab-tital">
                Registration</div>
        </div>
        <div class="tab-right">
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear1">
    </div>
    <div class="divbottom-home">
        <div class="divbottomleft-new-top">
        </div>
        <div class="divbottommiddetail-new-line-top-inner">
        </div>
        <div class="divbottomright-new-top">
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="divinnercontent-home-new-one">
        <div class="divinnercontent">
            <div class="diviconwar">
            </div>
            <div class="overviewdetaillogowar">
                <div class="registration-page">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td width="43%" valign="top" style="color: Black; font-family: Arial; font-size: 18px;
                                                    font-weight: bold;">
                                                    Register now... <span style="color: Red;">It's FREE!</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="font-size: 16px;" class="section-title">
                                                        No credit card needed.
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Fields marked with <span style="color: Red">*</span> are required to register.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 10px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="body">
                                                        @using (Html.BeginForm("Index", "Register"))
                                                                        { <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; border-collapse: collapse;"
                                                            id="CreateUserForm">
                                                            <tbody>
                                                                <tr style="height: 100%;">
                                                                    <td>
                                                                       
                                                                            <table id="DealerRegisForm" cellspacing="0" cellpadding="0" border="0" style="height: 100%; width: 100%;
                                                                                border-collapse: collapse;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="height: 100%; width: 100%;">
                                                                                            <div style="margin-top: 2px;" class="message-error">
                                                                                                <div>
                                                                                                @(ViewData["Msg"]??"")
                                                                                                </div>
                                                                                                <div class="clear">
                                                                                                </div>
                                                                                                <div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="clear">
                                                                                            </div>
                                                                                            <div class="section-body">
                                                                                                <table class="table-container">
                                                                                                    <tbody>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                                *
                                                                                                            </td>
                                                                                                            <td width="130px" class="item-name">
                                                                                                                First Name:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.TextBoxFor(m => m.Firstname)
                                                                                                                 
                                                                                                                @Html.ValidationMessageFor(m => m.Firstname)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                                *
                                                                                                            </td>
                                                                                                            <td width="130px" class="item-name">
                                                                                                                Last Name:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.TextBoxFor(m => m.Lastname)
                                                                                                                 
                                                                                                                @Html.ValidationMessageFor(m => m.Lastname)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                                *
                                                                                                            </td>
                                                                                                            <td class="item-name">
                                                                                                                E-Mail:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.TextBoxFor(m => m.Email)
                                                                                                               
                                                                                                                @Html.ValidationMessageFor(m => m.Email)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                            </td>
                                                                                                            <td class="item-name">
                                                                                                                Phone Number:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.TextBoxFor(m => m.Telephone)
                                                                                                                
                                                                                                                @Html.ValidationMessageFor(m => m.Telephone)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                                *
                                                                                                            </td>
                                                                                                            <td class="item-name">
                                                                                                                Zip code:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.TextBoxFor(m => m.Zip)
                                                                                                               
                                                                                                                @Html.ValidationMessageFor(m => m.Zip)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                            <div class="clear">
                                                                                            </div>
                                                                                            <div style="font-size: 16px;" class="section-title">
                                                                                                Your Password
                                                                                            </div>
                                                                                            <div class="clear">
                                                                                            </div>
                                                                                            <div class="section-body">
                                                                                                <table class="table-container">
                                                                                                    <tbody>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                                *
                                                                                                            </td>
                                                                                                            <td width="130px" class="item-name">
                                                                                                                Password:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.PasswordFor(m => m.Password)
                                                                                                              
                                                                                                                @Html.ValidationMessageFor(m => m.Password)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                                *
                                                                                                            </td>
                                                                                                            <td class="item-name">
                                                                                                                Password Confirmation:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.PasswordFor(m => m.ConfimrPassword)
                                                                                                                
                                                                                                                @Html.ValidationMessageFor(m => m.ConfimrPassword)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr class="row">
                                                                                                            <td colspan="2">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                            <div class="clear">
                                                                                            </div>
                                                                                            <br>
                                                                                            <div class="section-body">
                                                                                                <table class="table-container">
                                                                                                    <tbody>
                                                                                                        <tr class="row">
                                                                                                            <td valign="top" style="color: Red;">
                                                                                                            </td>
                                                                                                            <td width="135px" style="color: Red;" class="item-name">
                                                                                                                Promo/Coupon Code:
                                                                                                            </td>
                                                                                                            <td class="item-value">
                                                                                                                @Html.TextBoxFor(m => m.Coupon)
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                            <table class="table-container">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="height: 10px;" colspan="3">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr class="row">
                                                                                                        <td valign="top" style="color: Red;">
                                                                                                            &nbsp;&nbsp;&nbsp; *
                                                                                                        </td>
                                                                                                        <td class="item-name">
                                                                                                            &nbsp; <b>How Did You Here About Us?</b>
                                                                                                        </td>
                                                                                                        <td class="item-value">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="height: 10px;" colspan="3">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr class="row">
                                                                                                        <td valign="top" style="color: Red;">
                                                                                                        </td>
                                                                                                        <td class="item-name">
                                                                                                            &nbsp;&nbsp;

                                                                                                            @Html.DropDownListFor(m => m.howDidYouHearAboutUs, (ViewData["Options"]) as List<SelectListItem>, "Please Select One", new { style = "width: 320px;" })
                                                                                                          @*  <select style="width: 320px;" id="howDidYouHearAboutUs" name="howDidYouHearAboutUs">
                                                                                                                <option value="0" selected="selected">Please Select One</option>
                                                                                                                <option value="Google">Google</option>
                                                                                                                <option value="360Jacksonville.com">360Jacksonville.com</option>
                                                                                                                <option value="SouthFlorida365.com">SouthFlorida365.com</option>
                                                                                                                <option value="MotoSeller.com">MotoSeller.com</option>
                                                                                                                <option value="Military.com">Military.com</option>
                                                                                                                <option value="Automotive Digest">Automotive Digest</option>
                                                                                                                <option value="Facebook">Facebook</option>
                                                                                                                <option value="Living Social">Living Social</option>
                                                                                                                <option value="Groupon">Groupon</option>
                                                                                                                <option value="Savings.comc">Savings.com</option>
                                                                                                                <option value="Other">Other</option>
                                                                                                            </select>*@
                                                                                                            <br />
                                                                                                            &nbsp;&nbsp; <span style="color: Red; display: none;" title="How Did You Here About Us is required."
                                                                                                                id="ctl00_ctl00_cph1_cph1_ctrlCustomerRegister_CreateUserForm_CreateUserStepContainer_RequiredFieldValidator2">
                                                                                                                How Did You Here About Us is required.</span>
                                                                                                        </td>
                                                                                                        <td class="item-value">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                     
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="right">
                                                                        <br>
                                                                        <div style="text-align: justify; margin-top: -20px;">
                                                                            <div style="float: left; margin-left: 30px">

                                                                                @Html.CheckBox("TermsofUse",true)
                                                                                @Html.LabelFor(m=>m.TermsofUse,"I have read the")
                                                                                <a href="@Url.Action("Index", "ConditionsOfUse")" style="color: #0E67F5; text-decoration: underline;">
                                                                                    Terms of Use</a>
                                                                                <br>
                                                                              
                                                                                    @Html.ValidationMessageFor(m=>m.TermsofUse)
                                                                            </div>
                                                                        </div>
                                                                        <div style="margin-top: 16px;" class="button">
                                                                            <table width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                        </td>
                                                                                        <td style="padding-left: 20px;">
                                                                                            <input type="image" src="/Content/Images/submit-form.png" style="display: inline-block;
                                                                                                height: 32px; width: 159px;" id="Dealers1_lnkSubmit"/>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>   
                                                            }
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="50%" valign="top">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="height: 99px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="Content/themes/App_Themes/EDrive/images/text.jpg">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="100%" style="margin-left: 5px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="height: 14px;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="25%">
                                                                    <div class="divRegMap">
                                                                        <img alt="Map" src="Content/themes/App_Themes/EDrive/images/map01.png">
                                                                    </div>
                                                                </td>
                                                                <td valign="top">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight:bold; font-size: 14px;">
                                                                                    Nationwide Coverage
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Tens of thousands of deep-discounted vehicles nationwide at your fingertips.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 14px;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="divRegTrans">
                                                                        <img src="Content/themes/App_Themes/EDrive/images/Transparent01.png">
                                                                    </div>
                                                                </td>
                                                                <td valign="top">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight:bold;  font-size: 14px;">
                                                                                    Transparent &amp; Verified Pricing
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Every Vehicle's price is validated by NADA Market data based upon millions of vehicles
                                                                                    sold at auction annually.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 14px;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="divRegTimer">
                                                                        <img alt="Timer" src="Content/themes/App_Themes/EDrive/images/time01.png">
                                                                    </div>
                                                                </td>
                                                                <td valign="top">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight:bold;  font-size: 14px;">
                                                                                    Convenient &amp; Time-saving Process
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    You can forget about sifting through hundreds of vehicles to find the best deal.With
                                                                                    E-DRIVE you will have easy access to vehicle deals in all makes and models guaranteed!
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 14px;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="divbottom-home">
        <div class="divbottomleft-new">
        </div>
        <div class="divbottommiddetail-new-line-inner">
        </div>
        <div class="divbottomright-new">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
