@model Edrive.Models.Nop_TopicLocalized
@{
	if(Model != null)
	{
	<title>@Model.Title</title>
	<meta name="metatitle" content="@Model.MetaTitle" />
	<meta name="description" content="@Model.MetaDescription" />
	<meta name="keywords" content="@Model.MetaKeywords" />
	}
}
@section Head
{
	<link href="@Url.Content("~/Content/contentstyle.css")" rel="stylesheet" type="text/css" />
}
<div class="divAboutUs">
</div>
<div class="product-inner-page">
	<div class="divdetail-inner">
		<div class="clear">
		</div>
	</div>
	<div class="tab-new">
		<div class="teb-left">
		</div>
		<div class="tab-line">
			<div class="tab-tital">
				About Us</div>
		</div>
		<div class="tab-right">
		</div>
		<div class="clear">
		</div>
	</div>
	<ul class="ulAboutusMenu">
		<li>@Html.ActionLink("Management", "Index", "Management")</li>
		<li>|</li>
		<li>@Html.ActionLink("Press", "Index", "Press_Release")</li>
	</ul>
	<div class="clear1">
	</div>
	<div class="divbottom-home">
		<div class="divbottomleft-new-top">
		</div>
		<div class="divbottommiddetail-new-line-top-inner">
		</div>
		<div class="divbottomright-new-top">
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="divinnercontent-home-new-one">
		<div class="divinnercontent">
			<div style="border-bottom: solid 1px #D7D7D7" class="overviewdetaillogowarAboutus">
				<table width="100%">
					<tbody>
						<tr>
							<td width="36%" valign="top">
								<img alt="AboutUs" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/home.jpg")" />
							</td>
							<td width="65%" style="color: Black;">
								<div class="htmlcontent">
									<div class="htmlcontent-body">
										@if(Model != null)
		  {
											@Html.Raw(Model.Body)
		  }
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="overviewdetaillogowarAboutusNew">
				<table width="100%">
					<tbody>
						<tr>
							<td colspan="4">
								Partners
							</td>
						</tr>
						<tr>
							<td colspan="4" style="height: 15px;">
							</td>
						</tr>
						<tr>
							<td style="padding-left: 30px;" colspan="4">
								<table width="100%">
									<tbody>
										<tr>
											<td style="width: 25%">
												<img alt="nada guide" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/nada04.jpg")" />
											</td>
											<td style="width: 25%">
												<img alt="military" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/military.jpg")" />
											</td>
											<td>
												<img alt="carfax" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/carfax.jpg")" />
											</td>
											<td>
												<img alt="auto" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/auto.jpg")" />
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="4" style="height: 5px;">
							</td>
						</tr>
						<tr>
							<td style="padding-left: 141px;" colspan="4">
								<table width="100%">
									<tbody>
										<tr>
											<td style="width: 33%">
												<img alt="targetspot" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/ts.jpg")" />
											</td>
											<td style="width: 50%">
												<img alt="directories" src="@Url.Content("~/Content/themes/App_Themes/EDrive/images/360-d.jpg")" />
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="clear">
	</div>
	<div class="divbottom-home">
		<div class="divbottomleft-new">
		</div>
		<div class="divbottommiddetail-new-line-inner">
		</div>
		<div class="divbottomright-new">
		</div>
	</div>
	<div class="clear">
	</div>
</div>
