
<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml">
<head>


 <title>
	Web Administration
</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"  type="text/css"  />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
  
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.tabs.css")" rel="stylesheet" type="text/css"   />
  
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.tabs.js")" type="text/javascript"></script>



<script language="javascript" type="text/javascript">
    $(function () {
        try {
        
        showTabs();
    } catch (e) {

    }
      //  $("#tabs").tabs();
});

//var serverurl = "/edriveautodev";
var serverurl = "";

</script>
   
@RenderSection("Head", false)

 
<style type="text/css">
    .pageNumber{cursor: pointer;background: white;color: blue;padding-right: 3px;padding-left: 3px;}
.pageNumberActive{cursor: pointer;background: white;color: blue;padding-right: 3px;padding-left: 3px;border: black 1px solid;
}
  ul {
 
  font-size: 12px;
  font-weight:bold;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  position: relative;
  float: left;
}
li ul { display: none; }
ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 0px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: #0896ef;
  margin-left: 1px;
  white-space: nowrap;
}
ul li a:hover { background: #0896ef; color:White;}
li:hover ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
  font-size: 11px;
}
li:hover a { background: #0896ef; }
li a:visited { background: #0896ef; color:#ffffff}

li:hover li a:hover { background: #0896ef; }
 a#AdminLogo{font-size:38px;color:White;}
</style>
 
</head>

<body>
    <div class="page">
    <div style="background:white;min-height:816px;">
        <div id="header">
            <div style="overflow: hidden;height: 63px;margin-top: 0px;color:white;background-color:#ffffff;padding-top:40px;">
                <div style="float:left;color: white;font-weight: bold;font-size: 32px;padding-left:11px;"> 
                <a id="AdminLogo" href="@Url.Action("Index","Dashboard")">
                    <img src="@Url.Content("~/Content/Images/adminLogo.jpg")" height="71px"  alt="eDriveautos"/>
                </a> 
                </div>               
                 <div style="float: right;position: relative;top: 24px;right: 13px;" class="partial">
                   @Html.Partial("_AdminLogOnPartial")
                </div>

            </div>
            <div id="menucontainer">
            
           

                <ul id="menu" style="margin-left:0px;">
                @{if (User.IsInRole("Admin"))
                  {
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>
                    @Html.ActionLink("Manage Inventory", "Manage", "ManageVehicle", new { area = "Admin" }, null)
                     <ul class="level_02">
                        <li> @Html.ActionLink("Hotsheet", "Hotsheet", "ManageVehicle")</li>
                        </ul>
                        </li>
                     <li>
                   <a href="#">Manage Leads</a>
                    <ul class="level_02">
                     <li> @Html.ActionLink("More Info Requests", "InterestedCar", "ManageLeads", new { id = 1 }, null)</li>
                    <li><a href="/Admin/ManageLeads/FinancingRequests">Finance Request</a></li>
                    </ul>

                    </li>
                    <li><a href="#">Users</a>
                    <ul class="level_02">
                        <li> @Html.ActionLink("Manage Dealer", "Index", "ManageDealer")</li>
                        <li> @Html.ActionLink("Manage Customers", "Index", "ManageCustomer")</li>
                         <li> @Html.ActionLink("MyDetails", "MyDetails", "DashBoard")</li>
                        
                   
                    </ul>
                     
                    </li>
                      <li>@Html.ActionLink("Manage Partners", "Index", "ManagePartner", new { area = "Admin" }, null)
                      </li>
                      <li>
                      <a href="#">Faq's</a>
                        <ul class="level_02">
                        <li>

                            @Html.ActionLink("User FAQ's", "UserFAQs", "ManageContent", new { area = "Admin" }, null)
                        </li>
                       <li>
                           @Html.ActionLink("Dealer FAQ's", "DealerFAQs", "ManageContent", new { area = "Admin" }, null)
                       </li>
                       
                      </ul>
                        </li>
                     <li>
                         @Html.ActionLink("Testimonials", "Testimonials", "ManageContent", new { area = "Admin" }, null)
                     </li>
                       <li><a href="#">Content Management</a>
                          <ul class="level_02">
                          <li> @Html.ActionLink("Newsletter", "Newsletters", "ManageContent")</li>
                                  
                                <li> @Html.ActionLink("Topic", "Topic", "ManageContent")</li>
                                <li> @Html.ActionLink("Featured Seller", "FeaturedSeller", "ManageContent")</li>
                                <li> @Html.ActionLink("Management", "EManagement", "ManageContent")</li>
                                    <li> @Html.ActionLink("Press", "Press", "ManageContent")</li>
                                    <li> @Html.ActionLink("EGear", "EGears", "ManageContent")</li>
                                      <li> @Html.ActionLink("Message Templates", "MessageTemplates", "ManageContent")</li>
                                      <li> @Html.ActionLink("Settings", "Index", "Settings")</li>

                                 </ul>

                         </li>
                   
                     
                  } 

                      }
                    
                </ul>

            </div>
          
        </div>

       
        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
       
    </div>

    </div>
</body>
</html>
