@model Edrive.Models._ED_Testimonials
               <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
           @using (Html.BeginForm("AddTestimonial", "Customers_Speak", FormMethod.Post, new { id = "form1", ENCTYPE = "multipart/form-data" }))
           {
               @Html.ValidationSummary(true)
               <table cellpadding="3" cellspacing="2" width="100%" class="tddesc table-container">
                            <tr class="row">
                                <td class="modalpopupHeader" colspan="3">
                                    Add New Testimonial
                                </td>
                            </tr>
                            <tr class="row">
                                <td style="height: 5px;">
                                    <div class="message-error">
                                       <span  id="lblPopupErr" Text="" class="ErrorMessage" style="display:none"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name" style="width: 100px;">
                                    Name:
                                </td>
                                <td class="item-value">
                                @Html.TextBoxFor(m => m.Name)
                               
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name" style="width: 100px;">
                                    Address:
                                </td>
                                <td class="item-value">
                                 @Html.TextBoxFor(m => m.Address)
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name" style="width: 100px;">
                                    Image:
                                </td>
                                <td class="item-value">
                                <input type="file" id="Pic" name="Pic" />
                              
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name" style="width: 100px;">
                                    Content:
                                </td>
                                <td valign="top" class="item-value">
                                   @Html.TextAreaFor(m => m.TContent, new { style = "height:200px;width:400px" })
                                </td>
                            </tr>
                            <tr class="row">
                                <td style="height: 5px;">
                                </td>
                            </tr>
                            <tr class="row">
                                <td>
                                </td>
                                <td class="item-value">
                                <input type="submit"  value="Save" style="color:Black;background:#add710"  class="lnkClose" />
                                <input type="submit"  value="Close" id="lnkClose" style="color:Black;background:#add710"  class="lnkClose" />

                                   
                                </td>
                            </tr>
                        </table>
           }