<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="Shortcut Icon" href="/Content/themes/App_Themes/EDrive/images/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	@if(ViewData["metatitle"] != null && ViewData["description"] != null && ViewData["keywords"] != null)
	{ <title>@(ViewData["metatitle"] ?? "")</title>
		<meta name="metatitle" content="@(ViewData["metatitle"] ?? "")" />
		<meta name="description" content="@(ViewData["description"] ?? "")" />
		<meta name="keywords" content="@(ViewData["keywords"] ?? "")" />
	}
	
	<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		var serverurl = "";
	</script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25684764-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	@RenderSection("Head", false)
</head>
<body>
	<div class="Wrapper">
		<div id="Header">
			<div class="header-content">
				<h1 class="Logo"><a href="@Url.Action("Index", "Home")">Edriveautos</a></h1>
				@Html.Partial("_LogOnPartial")
				<div class="SingleLine Flr Clr-Rht">
					<div class="slogan">
						<b>The World's Largest Wholesale Vehicle Marketplace</b>
					</div>
				</div>
				<div class="MainMenu">
					<ul>
						<li class="first">@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("FAQ", "Index", "Frequently_asked_questions")</li>
						<li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
						<li><a href="@Url.Action("Index", "Apply_for_financing")">Get Financing</a></li>
						<li>
							@Html.ActionLink("Advertisers", "Advertiser", "Home")
							@* <a href="#">Advertisers</a>*@ </li>
						<li><a target="_blank" class="menublog" href="http://www.edriveautos.blogspot.com">Blog</a></li>
						<li><a href="@Url.Action("Index", "Press_Release")">Press</a></li>
						<li class="last">
							@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)
						</li>
					</ul>
				</div>
			</div>
			<div class="separator-line">
			</div>
		</div>
		<div id="Content">
			@RenderBody()
		</div>
		<div id="PreFooter">
			<div class="Column_01 Flt">
				<h3>Customers</h3>
				<ul class="FooterLinks">
					<li>@Html.ActionLink("Contact Us", "Index", "ContactUs")</li>
					<li>@Html.ActionLink("FAQ", "Index", "Frequently_asked_questions")</li>
					<li><a href="@Url.Action("Index", "Apply_for_financing")">Financing</a></li>
					<li><a href="@Url.Action("Index", "Get_a_warranty")">Warranties</a></li>
					<li><a href="http://www.edriveautos.blogspot.com" class="menublog" target="_blank">Blog</a></li>
					<li><a href="@Url.Action("Index", "Customers_Speak")">Testimonials</a></li>
					<li><a href="@Url.Action("Index", "EGear")">EGear</a></li>
					<li><a href="@Url.Action("SiteMap", "Home")">Site Map</a></li>
				</ul>
			</div>
			<div class="Column_02 Flt">
				<h3>Business Partners</h3>
				<ul class="FooterLinks">
					<li><a href="@Url.Action("Index", "Vendors")">Vendors</a></li>
					<li><a href="@Url.Action("Index", "Dealers")">Dealers </a></li>
					<li><a href="@Url.Action("Index", "AffiliateProgram")">Affiliate Program</a></li>
					<li>@*<a href="#">Advertise Us</a>
*@
						@Html.ActionLink("Advertise with Us", "Advertiser", "Home")
					</li>
				</ul>
			</div>
			<div class="Column_03 Flt">
				<h3>Company</h3>
				<ul class="FooterLinks">
					<li><a href="@Url.Action("Index", "Press_Release")">Press</a></li>
					<li><a href="@Url.Action("Index", "Management")">Management</a></li>
					<li><a target="_blank" href="http://www.e-zdealership.com/">e-zdealership.com</a></li>
					<li><a target="_blank" href="http://www.vehilist.com/">vehilist.com</a></li>
				</ul>
				<div style="color: Gray; font-size: 13px; margin-top: 10px; text-align: left;">
					<a href="#">
						<img src="@Url.Content("~/Content/Images/rss-feeds.png")" alt="rss feeds" />
					</a>
					<a href="https://www.facebook.com/eDriveAutos">
						<img src="@Url.Content("~/Content/Images/FACEBOOK25.png")" alt="facebook" />
					</a>
					<a href="https://twitter.com/#!/dwhite0566">
						<img src="@Url.Content("~/Content/Images/twitter-small-trans.png")" alt="twitter" />
					</a>
					<a href="http://www.youtube.com/user/edriveautos">
						<img src="@Url.Content("~/Content/Images/YouTube25_25.png")" alt="youtube" />
					</a>
				</div>
			</div>
			<div class="Column_04 Flr">
				<h3>
					Disclosures</h3>
				<ul class="FooterLinks">
					<li><a href="@Url.Action("Index", "privacyinfo")">Privacy Policy</a></li>
					<li><a href="@Url.Action("Index", "ConditionsOfUse")">Terms of Use</a></li>
					<li><a href="@Url.Action("Index", "Disclaimer")">Disclaimer</a></li>
				</ul>
			</div>
			<div class="Clr">
			</div>
		</div>
		<div id="Footer">
			<div class="FooterLogo">
				<a href="#">
					<img src="@Url.Content("~/Content/Images/footer_logo.png")" alt="" /></a></div>
			<p>
				Copyright 2011-2012 E-Drive Autos, LLC. All rights reserved worldwide.</p>
			<p class="lower-text">
				TargetSpot, Carfax, Military.com, Recycler.com and NADA Guides logos are the property
				of their respective companies.</p>
		</div>
	</div>
	@RenderSection("Footer", false)
	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
		var sc_project = 7127908;
		var sc_invisible = 1;
		var sc_security = "7acde50e"; 
    </script>
	<script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
	<noscript>
		<div class="statcounter">
			<a title="tumblr visitor" href="http://statcounter.com/tumblr/" target="_blank">
				<img class="statcounter" src="http://c.statcounter.com/7127908/0/7acde50e/1/" alt="tumblr visitor" />
			</a>
		</div>
	</noscript>
	<!-- End of StatCounter Code for Default Guide -->
</body>
</html>
