<div class="Menu_01 Flr">
	<ul style="float: left">
		@if(User.Identity.IsAuthenticated)
		{
			<li><a href="#">Dealers</a>
				<ul class="Menu_01_l2">
					<li><a href="@Url.Action("Login", "DealerDashboard", new {area = "Dealer"})">Login</a>
					</li>
					<li><a href="@Url.Action("Index", "Dealers")">How it Works</a> </li>
				</ul>
			</li>
			if (!User.IsInRole("Guest"))
			{
				<li><a href="@Url.Action("Index", "MyAccount")">My Account</a></li>
				<li>@Html.ActionLink("My WishList", "Wishlist", "Product")</li>
			}

			<li class="last">
				@Html.ActionLink("Logout", "LogOff", "Account")
			</li>
		}
		else
		{
			<li><a href="#">Dealers</a>
				<ul class="Menu_01_l2">
					<li><a href="@Url.Action("Login", "DealerDashboard", new {area = "Dealer"})">Login</a>
					</li>
					<li><a href="@Url.Action("Index", "Dealers")">How it Works</a> </li>
				</ul>
			</li>
			<li><a href="@Url.Action("RegisterUser", "Register")">Register</a></li>
			<li class="last">
				@Html.ActionLink("Login", "LogOn", "Account")
			</li>
		}
	</ul>
</div>
