@model Edrive.Models._PasswordDetails
           
   <div class="customer-pass-recovery">
     
    <div class="clear">
    </div>
    <div class="section-body">
        <table class="table-container">
            <tbody>
                <tr class="row">
                    <td class="item-name">
                         Old Password:
                    </td>
                    <td class="item-value">
                          @Html.PasswordFor(m => m.OldPassword, new {   @class="textBox", style="height:20px;width:200px;"})
                       @Html.ValidationMessageFor(m=>m.OldPassword)
                       @Html.HiddenFor(m=>m.CustomerID)
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                      Password:
                    </td>
                    <td class="item-value">
                           @Html.PasswordFor(m => m.NewPassword, new { @class = "textBox", style = "height:20px;width:200px;" })
                          @Html.ValidationMessageFor(m => m.NewPassword)
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        New Password Confirmation:
                    </td>
                    <td class="item-value">
                     @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textBox", style = "height:20px;width:200px;" })
                   @Html.ValidationMessageFor(m => m.ConfirmPassword)
               
             
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-value" colspan="2">
                           @Html.ValidationSummary(true)  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear">
    </div>
    <div class="button">
         <input type="submit"  class="lnkbuttonreg" style="border:0px none;background-color:transparent;"

       value="Change" />
      
    </div>
</div>

@*


        
   <div class="section-body">
        <table class="table-container">
            <tbody>
                <tr class="row">
                    <td class="item-name">
                        Old Password:
                    </td>
                    <td class="item-value">
                       @Html.PasswordFor(m => m.OldPassword, new {   @class="textBox", style="height:20px;width:200px;"})
                       @Html.ValidationMessageFor(m=>m.OldPassword)
                       @Html.HiddenFor(m=>m.CustomerID)

                        </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        Password:
                    </td>
                    <td class="item-value">
                  @Html.PasswordFor(m => m.NewPassword, new { @class = "textBox", style = "height:20px;width:200px;" })
                          @Html.ValidationMessageFor(m => m.NewPassword)
                          </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        New Password Confirmation:
                    </td>
                    <td class="item-value">
                          @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textBox", style = "height:20px;width:200px;" })
                   @Html.ValidationMessageFor(m => m.ConfirmPassword)
                   @Html.ValidationSummary(false)
             
                          </td>
                 
                   </tr>
                
            </tbody>
        </table>
    </div>
  <div class="clear">
    </div>
  <div class="button">
        
        <input type="submit"  class="lnkbuttonreg" style="border:0px none;background-color:transparent;"

       value="Change" />
    </div>   *@      