 @model _CustomerManage

@{
    ViewBag.Title = "Index";
}

@section Head{
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#RegFrom").datepicker({ changeMonth: true,
            changeYear: true
        });
        $("#RegTo").datepicker({ changeMonth: true,
            changeYear: true
        });
    }
);

function postPage(obj) {
    $("#PageIndex").val($(obj).attr("id"));
    document.forms["form1"].submit();
}
</script>
<style>
     .section-body
{
	border: 1px solid #afdffd;
	background-color: #F3FBFE;
	padding: 15px;
	width:95%;
}
    th{width:200px;background:#189ef7;color:White;font-weight:bold;text-align:center;padding-top:3px;padding-bottom:3px;}
 td{padding-left:5px;color:#245D75;background:white;height:21px;text-align:center;}
tr.alter td{background:#eff7ff; text-align:center}
tr {}
table#Searchmanage td{text-align:left;border:0px;padding-bottom:5px}
table#Searchmanage tr{border:0px;}
table#Searchmanage td {background:TRANSPARENT;}
.firstColmanageDealer {width:150px}
div.SearchDealer table tr td{border:solid 1px #AFDFFD;}
</style>

}

<h2>Manage Customer</h2>


@using (Html.BeginForm("Index", "ManageCustomer", FormMethod.Post, new { id = "form1" }))
{
<div style="text-align:right">
<div style="text-align:center;color:Red;">
  @(ViewData["Msg"] ?? "")  
  </div>

  <div style="margin-right:15px;">
<input type="hidden" value="" id="CustomerID" name="CustomerID" />
<input id="Button12" type="submit" name="Search" value="Search" />
<input id="Button1" type="submit" name="AddNew" value="Add New" />
  </div>

<br />
</div>    
     <div class="section-body" style="background:#f7fbff">
     <div class="CustomerManage">
     <table id="Searchmanage">
     <tr>
     <td class="firstColmanageDealer">
     @Html.LabelFor(m => m.RegFrom)
     </td>
     <td>
     @Html.TextBoxFor(m => m.RegFrom, new { id = "RegFrom" })
     </td>
     </tr>
      <tr>
     <td class="firstColmanageDealer">
     @Html.LabelFor(m => m.RegTo)
     </td>
     <td>
     @Html.TextBoxFor(m => m.RegTo, new { id = "RegTo" })
     </td>
     </tr>
 <tr>
     <td class="firstColmanageDealer">
     @Html.LabelFor(m => m.Email)
     </td>
     <td>
     @Html.TextBoxFor(m => m.Email)
     </td>
     </tr>
 <tr>
     <td class="firstColmanageDealer">
     @Html.LabelFor(m => m.LastName)
     </td>
     <td>
     @Html.TextBoxFor(m => m.LastName)
     </td>
     </tr>


      <tr>
     <td class="firstColmanageDealer">
     @Html.LabelFor(m => m.CompanyName)

     </td>
     <td>
     @Html.DropDownListFor(m => m.CompanyName, ViewData["Dealers"] as SelectList, "All")
     </td>
     </tr>

     </table>
    
    </div>

  
          
     
         
    @{List<Customer> lstCustomer = (List<Customer>)(ViewData["Customers"]);

    <br />
        
<br />
    <div class="SearchDealer">
        <table width="100%">
        <thead>
        <th> Email
        </th>

         <th> Name
        </th>
         <th>Active
        </th>
           <th>Acces Scope
        </th>

         <th>Registration Date
        </th>
         <th>Edit
        </th>
        
        </thead>
        <tbody>
        @if (lstCustomer != null)
        {
            foreach (var item in lstCustomer)
            {
                var clsName = lstCustomer.IndexOf(item) % 2 == 0 ? "clsWhite" : "";
            <tr class="@clsName" ><td style="text-align:left;padding-left:5px;"> @item.Email
        </td>

         <td  style="text-align:left;padding-left:5px;">  @item.FirstName @item.LastName 
        </td>
         <td>
         @if (item.Active)
         {
            @: <img   src="@Url.Content("~/Content/Images/checked.gif")" alt="True" style="border-width:0px;">

         }
         else
         {
           
             @: <img  src="@Url.Content("~/Content/Images/unchecked.gif")" alt="false" style="border-width:0px;">

         } 
        </td>
        <td>
        @{//for customer
                if (item.CustomerType == 2)
                {
                @:Full Access
            }
                else
                {
                    if (item.CustomerType == 3)
                    {
                      @:Limited Access
                   }
                }
            }
      
        </td>
         <td> @(item.RegisterationDate.ToString("MM/dd/yyyy hh:mm:ss tt"))
        </td>
         <td>@Html.ActionLink("Edit", "Edit", new { id = @item.CustomerID })
        </td>
        
            </tr>
            }
        }
           </tbody>
      </table>
      @Html.Partial("_Paging")
       </div>  
}    </div>
    
     
}
