@model Edrive.Models.CustomerPay
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Confirm Membership</title>
</head>
<body>
    <form id="payForm" method="post" action="@Model.URL">
    <div>
        <input type="hidden" name="cmd" value="@Model.cmd" />
        <input type="hidden" name="business" value="@Model.business" />
        <input type="hidden" name="item_name" value="@Model.item_name" />
        <input type="hidden" name="amount" value="@Model.amount" />
        <input type="hidden" name="currency_code" value="@Model.currency_code" />
        <input type="hidden" name="custom" value="@Model.request_id" />
        <input type="hidden" name="return" value="@Model.ReturnUrl" />
        <input type="hidden" name="cancel_return" value="@Model.CancelPurchaseUrl" />
    </form>
    </div>

    <script language="javascript" type="text/javascript">
        document.forms["payForm"].submit();
    </script>

</body>
</html>
